* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: var(--black);
  background-color: var(--bg-primary);
}

:root {
  --black: #38434E;
  --grey-light: #EBEBEB;
  --white: #fff;
  --primary: #7653FC;
  --primary-hover: #5232d5;
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --bg-primary: #F5F6F8;
  --font-family: 'Noto Sans KR', sans-serif
}
